{% extends 'layout.html' %}

{% block main %}

    <form action="" class="form" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" class="title" placeholder="First Name">
        <input type="text" name="last_name" class="title" placeholder="Last Name">
        <input type="email" name="email" class="title" placeholder="E-Mail">
        <input type="text" name="username" class="title" placeholder="Username">
        <input type="password" name="password" class="title" placeholder="Password">
        <button>Submit</button>
    </form>

{% endblock main %}

